/*@font-face {
  font-family: "Trickster";
  src: local("Trickster"),
    url("trickster-COLRv1.otf") format("opentype") tech(color-COLRv1),
    url("trickster-outline.otf") format("opentype"),
    url("trickster-outline.woff") format("woff");
}*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@100&family=Share+Tech+Mono&display=swap");

.container {
  margin: auto;
  /*display: flex;*/
  /*justify-content: center;*/
  width: 80%;
}

.one {
  background-color: aqua;
  padding: 50px 30px;
  color: black;
  height: 200px;
  overflow: auto;
}
.two {
  padding: 50px 30px;
  background-color: blue;
  color: antiquewhite;
  width: 300px;
  height: max-content;
  /*height: fit-content;*/
  height: min-content;
  height: 200px;
  overflow-y: hidden;
  overflow-y: visible;
  overflow-x: scroll;
}
.pix {
  width: 100px;
  height: auto;
  margin: 1px;
}
.pix-contain {
  display: flex;
  justify-content: right;
  align-items: first baseline;
  align-items: last baseline;
  flex-wrap: wrap;
  gap: 5px;

  background-color: black;

  /*height: 500px;*/
  /*height: fit-content;*/
  /*height: max-content;*/
  /*overflow-y: scroll;*/
}
